h1{
  font-size: x-large;
  color: red;
}
body {
  background-color: skyblue;
}
/*img{
  size: 30px;
  padding: 7px;
}*/
p{
  font-size: large ;
  font-style: oblique;
}
ul{
   line-height:normal;
}



