h1{
  font-size: x-large;
  color: red;
  text-align: center;
}
ul{
   line-height:normal;
   font-size: medium;
}
body {
  background-color: skyblue;
}

.s1{
   float: inline-end;
}

.p1{
  text-align-last: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.centered-image {
  width: 100%;
  height: fit-content;
}
